<%# obj is more generic and we can refer to it in our modules  %>


<% if obj && obj.errors.any? %>
  
    <h4 class='center-align lime' >The following errors prevented the <%= obj.class.name.downcase %> from being saved</h4>
    <ul>
      <% obj.errors.full_messages.uniq.each do |msg| %>
        <h5 class='center-align red' ><%= msg %></h5>
    
      <% end %>
    </ul>
   
  
<% end %>